@using System.Configuration;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using food.Areas.Identity.Data;
@using food.Models;
@using food;
@using food.Controllers;
@{
    ViewData["Title"] = "Home Page";
    
    
    
}
@*
<div class="container">
    <div class="row">

        @{
            foreach (Item i in items)
            {
                
                Console.WriteLine(i.ImageName);
                <partial name="_FoodCard" model=i />
            }
        }
    </div>
    
</div>
    *@

